<div class="c-t w960 clear">
	<div class="c-t-l">
		<div class="c-box">
			<h2 class="c-box-t clear bd-b">
				<span class="l">时令热搜</span>
				<a href="#" class="r">更多&gt;&gt;</a>
			</h2>
			<div class="c-box-c">
				<div class="c-table clear">
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">4</a>
					<a href="#">4</a>
					<a href="#">7</a>
					<div class="bd-b-p"></div>
				</div>
			</div>
		</div>
		<div class="c-box">
			<div class="c-box-t clear bd-b">
				<div class="l">最新食谱</div>
				<a href="#" class="r">更多&gt;&gt;</a>
			</div>
			<div class="c-box-c">
				<div class="c-banner clear">
					<div class="l">
						<a href="#">
							<img src="images/foodBanner/banner1.jpg" alt="">
						</a>
					</div>
					<div class="r">
						<p><a href="#">可乐话梅排骨</a></p>
						<p>by 情不自禁</p>
					</div>
				</div>
				<div class="clear c-m-box">
					## for(var i = 0 ; i < 6 ; i ++ ){ ##
					<div class="c-m-3">
						<a href="#">
							<img src="images/foodDetail/detail1.jpg" alt="">
							<p>杂锦豆腐</p>
						</a>
						<a href="#">by Rosejyy2000</a>
					</div>
					## } ##
				</div>
			</div>
		</div>
		<div class="c-box">
			<div class="c-box-t clear bd-b">
				<div class="l">本月最热</div>
				<a href="#" class="r">更多&gt;&gt;</a>
			</div>
			<div class="c-box-c">
				<div class="c-banner clear">
					<div class="l">
						<a href="#">
							<img src="images/foodBanner/banner1.jpg" alt="">
						</a>
					</div>
					<div class="r">
						<p><a href="#">可乐话梅排骨</a></p>
						<p>by 情不自禁</p>
					</div>
				</div>
				<div class="clear c-m-box">
					## for(var i = 0 ; i < 6 ; i ++ ){ ##
					<div class="c-m-3">
						<a href="#">
							<img src="images/foodDetail/detail1.jpg" alt="">
							<p>杂锦豆腐</p>
						</a>
						<a href="#">by Rosejyy2000</a>
					</div>
					## } ##
				</div>
			</div>
		</div>
		<div class="c-box">
			<div class="c-box-t clear bd-b">
				<div class="l">本周最热</div>
				<a href="#" class="r">更多&gt;&gt;</a>
			</div>
			<div class="c-box-c">
				<div class="c-banner clear">
					<div class="l">
						<a href="#">
							<img src="images/foodBanner/banner1.jpg" alt="">
						</a>
					</div>
					<div class="r">
						<p><a href="#">可乐话梅排骨</a></p>
						<p>by 情不自禁</p>
					</div>
				</div>
				<div class="clear c-m-box">
					## for(var i = 0 ; i < 6 ; i ++ ){ ##
					<div class="c-m-3">
						<a href="#">
							<img src="images/foodDetail/detail1.jpg" alt="">
							<p>杂锦豆腐</p>
						</a>
						<a href="#">by Rosejyy2000</a>
					</div>
					## } ##
				</div>
			</div>
		</div>
	</div>
	<div class="c-t-r">
		<div class="s-box">
			<div class="s-box-t">
				<span>登录</span>
			</div>
			<div class="s-box-c">
				<form action="" class="s-box-form">
					<input type="text">
					<input type="password">
					<p><a href="#">免费注册</a></p>
					<input type="submit" value="登录" class="c-fff b-orange">
					<div class="hr"></div>
					<button type="button" class="c-fff b-blue">使用qq登录</button>
					<button type="button" class="c-000">使用微信登录</button>
					<button type="button" class="b-fff">使用新浪登录</button>
				</form>
			</div>
		</div>
		<div class="s-box">
			<div class="s-box-t">
				<span>用户正在搜</span>
			</div>
			<div class="s-box-c">
			## for(var i = 0 ; i < 12 ; i ++){ ##
				<a href="#" class="a-2 a-under no-overflow">链接asdalianjiasdasdasdasdasdasdas{{i}}</a>
			## } ##
			</div>
		</div>
		<div class="s-box">
			<div class="s-box-t">
				<span>用户分类</span>
			</div>
			<div class="s-box-c">
			## for(var i = 0 ; i < 20 ; i ++){ ##
				<a href="#" class="a-2 a-under no-overflow">链接asdalianjiasdasdasdasdasdasdas{{i}}</a>
			## } ##
			</div>
		</div>
		<div class="s-box">
			<div class="s-box-t">
				<span>用户正在看</span>
			</div>
			<div class="s-box-c">
			## for(var i = 0 ; i < 20 ; i ++){ ##
				<a href="#" class="a-2 a-under no-overflow">链接asdalianjiasdasdasdasdasdasdas{{i}}</a>
			## } ##
			</div>
		</div>
	</div>
</div>
<div class="c-b w960">
	<div class="c-box">
		<h2 class="c-box-t clear bd-b">
			<span class="l">厨友排行</span>
			<a href="#" class="r">更多&gt;&gt;</a>
		</h2>
		<div class="c-box-c">
		## for(var i = 0 ; i < 20 ; i ++ ){ ##
			<a href="#" class="cook-item no-overflow">
				<img src="images/cook/cook1.jpg">
				<p>天青色等烟雨</p>
			</a>
		## } ##
		</div>
	</div>
</div>
<div class="footer">
	<ul class="w960 clear">
		<li class="footer-box footer-box-1">
			<div class="clear">
				<img src="images/code.jpg" class="l">
				<img src="images/logo_gray.png" class="l">
			</div>
			<p><a href="#">版权声明</a></p>
			<p>商务联系：*************.com</p>
		</li>
		<li class="footer-box footer-box-2">
			<p><a href="#">友情链接</a></p>
			<p><a href="#">友情链接</a></p>
		</li>
		<li class="footer-box footer-box-3">
			<p><a href="#">友情链接</a></p>
			<p><a href="#">友情链接</a></p>
		</li>
		<li class="footer-box footer-box-4">
			<p><a href="#">友情链接</a></p>
			<p><a href="#">友情链接</a></p>
		</li>
		<li class="footer-box footer-box-5">
			<p><a href="#">友情链接</a></p>
			<p><a href="#">友情链接</a></p>
		</li>
	</ul>
</div>