<div class="m-class w960">
	<h2 class="m-class-t">家常菜谱</h2>
	## for(var i = 0 ; i < 50 ; i ++){ ##
	<a href="#">豆腐</a>
	## } ##
</div>
<div class="m-b w960">
	<h3 class="m-b-t">豆腐</h3>
	<div class="m-b-c">
	## for(var i = 0 ; i < 80 ; i ++ ){ ##
		<a href="#">豆腐{{i}}</a>
	## } ##
	</div>
</div>
<div class="m-b m-b-b0 clear w960">
	<div class="m-b-l">
		<div class="m-b">
			<h3 class="m-b-t">豆腐</h3>
			<div class="m-b-c">
			## for(var i = 0 ; i < 10 ; i ++ ){ ##
				<a href="#">豆腐{{i}}</a>
			## } ##
			</div>
		</div>
		<div class="m-b">
			<h3 class="m-b-t">豆腐</h3>
			<div class="m-b-c">
			## for(var i = 0 ; i < 20 ; i ++ ){ ##
				<a href="#">豆腐{{i}}</a>
			## } ##
			</div>
		</div>
		<div class="m-b">
			<h3 class="m-b-t">豆腐</h3>
			<div class="m-b-c">
			## for(var i = 0 ; i < 10 ; i ++ ){ ##
				<a href="#">豆腐{{i}}</a>
			## } ##
			</div>
		</div>
	</div>
	<div class="m-b-r">
		<div class="m-b">
			<h3 class="m-b-t">豆腐</h3>
			<div class="m-b-c">
			## for(var i = 0 ; i < 20 ; i ++ ){ ##
				<a href="#">豆腐{{i}}</a>
			## } ##
			</div>
		</div>		
		<div class="m-b">
			<h3 class="m-b-t">豆腐</h3>
			<div class="m-b-c">
			## for(var i = 0 ; i < 10 ; i ++ ){ ##
				<a href="#">豆腐{{i}}</a>
			## } ##
			</div>
		</div>		
		<div class="m-b">
			<h3 class="m-b-t">豆腐</h3>
			<div class="m-b-c">
			## for(var i = 0 ; i < 10 ; i ++ ){ ##
				<a href="#">豆腐{{i}}</a>
			## } ##
			</div>
		</div>		
	</div>
</div>
<div class="m-b w960">
	<h3 class="m-b-t">豆腐</h3>
	<div class="m-b-c">
	## for(var i = 0 ; i < 20 ; i ++ ){ ##
		<a href="#">豆腐{{i}}</a>
	## } ##
	</div>
</div>	