<div class="c-t clear w960">
	<div class="c-t-l">
		<div class="c-box">
			<div class="c-box-t f-22 c-gray">{{part.partName}}</div>
			<div class="c-m-box clear">
			## for(var i = 0 ; i < part.way.length ; i ++ ){ ##
			<div class="c-m-3">
				<a href="#">
					<img src="images/paigu/paigu1.jpg" alt="">
					<p>秘制红烧排骨</p>
				</a>
			</div>
			## } ##
			## for(var i = 0 ; i < part.way.length ; i ++ ){ ##
			<div class="c-m-3">
				<a href="#">
					<img src="images/paigu/paigu1.jpg" alt="">
					<p>秘制红烧排骨</p>
				</a>
			</div>
			## } ##
			## for(var i = 0 ; i < part.way.length ; i ++ ){ ##
			<div class="c-m-3">
				<a href="#">
					<img src="images/paigu/paigu1.jpg" alt="">
					<p>秘制红烧排骨</p>
				</a>
			</div>
			## } ##
			</div>
		</div>
	</div>
	<div class="c-t-r tips">
		<div class="s-box">
			<div class="s-box-t"><span>tips</span></div>
			<ul class="s-box-c">
			## for(var i = 0 ; i < 6 ; i ++ ){ ##
				<li><a href="#">土豆炖排骨的窍门</a></li>
			## } ##
			</ul>
		</div>
	</div>
</div>